<div class="row">
  <div class="col-lg-9">
    <div class="panel top">
      <div class="panel-header">
        <strong>Preguntas</strong>
      </div>
      <div class="panel-content">
        <table>
          <thead>
            <tr>
              <th>Pregunta</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= question.title %></td>
                <td>
                  <%= link_to question do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                  <%= link_to edit_question_path(question) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                  <%= link_to question, method: :delete, data: { confirm: 'Are you sure?'}  do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Nueva pregunta', new_question_path, :class => 'btn btn-large btn-primary' %>
      </div>
    </div>
  </div>
</div>
